<h3>Congratulations {{name}}! <br/>Welcome to SUMET Platform</h3>
<p>We are happy to have one more friend inside our community!</p>
<p>these are your login info:<br/><br/>username: {{email}}<br/>password: {{password}}</p><br/>
<p>SUMET PLATFORM: https://dashboard.sumet.co</p>
<p>Best Wishes!</p>