<h3>Congratulations {{name}}! <br/>Welcome to EDUTURK Platform</h3>
<p>We are happy to have one more friend inside our community!</p>
<p>these are your login info:<br/><br/>email: {{email}}<br/>password: {{password}}</p><br/>
<p>EDUTURK PLATFORM: https://eduturk.net</p>
<p>Best Wishes!</p>